{% extends "tasks/baseFile.html" %}

{% block content %}

<div class="container text-center" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="display-3 text-danger">Erro 404</h1>
            <p class="lead text-muted">Ops! A tarefa que você está procurando não existe ou foi removida.</p>
            <p>
                <a href="{% url 'tasks' %}" class="btn btn-primary">
                    <i class="glyphicon glyphicon-home"></i> Voltar para a lista de tarefas
                </a>
            </p>
        </div>
    </div>
</div>

{% endblock content %}
